:root,
:root *
{
	--background: rgb(240,240,245);
	--background-2: rgb(225,225,230);
	
	--color: black:
}

@keyframes spin
{
	to {transform: rotate(360deg);}
}

loader
{
	--size: 1rem;
	
	display: inline-block;
	width: var(--size);
	height: var(--size);
	border: calc(var(--size) / 10) solid white;
	border-top: calc(var(--size) / 10) solid black;
	border-radius: var(--size);
	animation: spin 1.2s linear infinite;
}

@media (prefers-color-scheme: dark)
{
	:root,
	:root *
	{
		--background: rgb(20,20,25);
		--background-2: rgb(30,30,35);
		
		--color: white;
	}
	
	loader
	{
		border: calc(var(--size) / 10) solid black;
		border-top: calc(var(--size) / 10) solid white;
	}
}


h1,
header,
svg
{
	margin: 0;
	padding: 0;
}


:root,
:root *
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	color: var(--color);
	font-size: 1rem;
	font-weight: 600;
	box-sizing: border-box;
	outline: none;
}

:root
{
	background: var(--background);
	font-family: "Avenir Next", "Avenir", "Arial", Futura, sans-serif;
}

h1
{
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 0.3rem;
}

header
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 5rem;
}

header > svg
{
	display: block;
	width: 5rem;
	height: 5rem;
	fill: var(--color);
}