body
{
	padding-top: 0!important;
}

.summary-container
{
	display: block;
	width: 100%;
	background: rgb(30,30,35);
	color: white;
	border-radius: 0 0 1rem 1rem;
	margin-bottom: 0.5rem;
	padding-top: 1rem;
	padding-bottom: 0.7rem;
	transition: border-radius 600ms;
}

.summary-container:hover
{
	border-radius: 0;
}

.summary-container img,
.summary-container h1,
.summary-container .summary
{
	margin: 0 auto;
	transition: transform 400ms;
}

.summary-container img:hover,
.summary-container h1:hover,
.summary-container .summary:hover
{
	transform: scale(1.1);
}

.summary-container img
{
	display: block;
	width: 50%;
	max-width: 200px;
}

.summary-container h1,
.summary-container .summary
{
	display: inline-block;
}