::-webkit-scrollbar
{
	display: none;
}

:root,
:root *
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	-ms-overflow-style: none;
	scrollbar: none;
	box-sizing: border-box;
	outline: none;
	text-align: center;
}

:root
{
	--bold: 600;
}

body
{
	background: #F9F9FF;
	margin: 0;
	padding: 0;
	padding-top: 2.5rem;
}

body,
input,
button
{
	color: black;
	font-family: "Avenir Next", Avenir, Arial;
	font-size: 1rem;
}

input,
[contenteditable]
{
	-webkit-user-select: text!important;
	-moz-user-select: unset!important;
	-ms-user-select: all!important;
	user-select: text!important;
	resize: none;
}

header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 2.5rem;
	background: rgb(30,30,35);
	color: white;
	padding: 0.2rem 1rem;
}

header .logo
{
	display: inline-block;
	height: 2rem;
	transform-origin: 50% 50%;
	transition: transform 400ms;
}

header .logo:hover
{
	transform: scale(1.2);
}

header label
{
	font-size: 1.5rem;
	transform-origin: 0 50%;
	transition: transform 400ms;
}

header label:hover
{
	transform: scale(1.2);
}

#nav-checkbox
{
	display: none;
}

h1,
h2,
h3
{
	font-weight: var(--bold);
	margin: 0.5rem 0.3rem;
	margin-top: 0.8rem;
}

h1
{
	font-size: 2rem;
}

h2
{
	font-size: 1.5rem;
}

h3
{
	font-size: 1.3rem;
}

a
{
	color: inherit;
	text-decoration: inherit;
}

a.link
{
	color: rgb(20,150,255);
	text-decoration: underline;
	font-weight: bold;
}